<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
  <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{%  static '/favicon.ico' %}" type="image/x-icon">
  {% block stylesheet %}{% endblock stylesheet%}
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="uk-padding-small">
  <header></header>
  <main>
    {% if usuario %}
    <nav class="uk-navbar-container  uk-text-center" uk-navbar>
      <h1 class="uk-navbar-left"> <a class="uk-text-decoration-none" href="/books"> Welcome, {{usuario.first_name}}!</a>
      </h1>
      <div class="uk-navbar-right">
        <a class="uk-margin-right" href="/books">Books</a>
        <a class="uk-margin-right" href="/wall">Wall</a>
        <a class="uk-margin-right" href="/books/profile">Profile</a>
        <a class="uk-margin-right" href="/logout">Log out</a>
      </div>
    </nav>
    <hr class="uk-margin">
    {% endif %}
    {% block content %} {% endblock %}
  </main>
  <footer></footer>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  {% comment %} <script src="{% static 'js/app.js' %}"></script> {% endcomment %}
  {% block javascript %}{% endblock javascript%}
</body>

</html>